
/*RESERVATION PAGE*/
:root{
    --primary-color: #12372A;
    --background-color: #DAF1DE;
    --secondary-color: #bde0c9;
    --heading-color: #436850;
    --text-color: black;
    --border-radius: 10px;
    --font-size: 17px;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 12pt;
    font-family: "Poppins", sans-serif;
}
nav{
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/*logo*/
.logo{
    margin: 0 30px 0 30px;
    display: block;
    width: 200px;
}
.logo img{
    width: 100%;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: var(--font-size);
    margin-left: 20px;
    margin-right: 40px;
}
.ul a{
    height: 100%;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    position: relative;
}
ul a:hover{
    transition: all 0.5s ease;
    color: rgb(255, 255, 255);
}
li a::after{
    content: "";
    background-color: white;
    width: 0;
    position: absolute;
    height: 0.2rem;
    margin-top: 0.1rem;
    left: 0;
    top: 100%;
}
li a:hover::after{
    width: 100%;
    transition: all 0.3s ease;
}
ul a.active{
    position: relative;
}
ul a.active::after{
    width: 100%;
    transition: none;
}
nav svg{
    fill: white;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}

/*search bar*/
.services-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.search-input{
    width: 150px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    outline: none;
    transition: width 0.4s ease;
    background-color: white;
}
.search-btn {
    background-color: white;
    padding: 7px;
    color: var(--primary-color);
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.search-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

/* For smaller screens */
 @media (max-width: 600px) {
    .search-input {
      width: 100px;
      font-size: 0.9rem;
    }
    .search-input:focus {
      width: 200px;
    }
}

/*nav bar responsiveness*/
@media (max-width: 900px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--primary-color);
        transition: 1s ease-out;
    }
    .ul{
        display: flex;
        flex-direction: column;
    }
    .ul a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: center;
    }
    .open-sidebar-button ,.close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .search-container{
        display: none;
    }
}

/*main*/
.appointments{
    position: relative;
    background: url(./Images/reservation.webp) no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 10px;
}
.appointments .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}
.appointments-image{
    position: relative;
    z-index: 1;
    animation: reservation 2s ease 1 normal forwards;
}

/*animation for main text*/
@keyframes reservation {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.appointments-image h1{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
}
.text h3{
    font-style: italic;
    font-size: 25px;
    font-weight: 600;
}
.text p{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}


/*consultancy reservation form*/
.reservation-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}
form h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
    color: var(--primary-color);
}
.reservation-form fieldset{
    width: 400px;
    border: 2px black solid;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}
.reservation-form legend{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--heading-color);
}
.info{
    margin-bottom: 20px;
}
.info label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}
.reservation-form input,
.reservation-form select,
.reservation-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(114, 178, 149);
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
}

.reservation-form input[type="date"],
.reservation-form input[type="time"] {
    padding: 8px;
}

.reservation-form button {
    width: 100%;
    padding: 12px;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
}

.reservation-form button:hover {
    background-color: var(--primary-color);
    color: white;
}


/*footer*/
.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    font-size: 17px;
}
.footer-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-column{
    flex: 1 1 250px;
    margin-bottom: 20px;
    padding: 20px;
}
.footer-column img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.footer-column h3{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
}
.footer-column p, li{
    text-decoration: none;
    list-style-type: none;
    line-height: 1.7;
}
.footer-column a{
    color: white;
    text-decoration: none;
}
.footer-column a:hover{
    color: white;
    text-decoration: underline;
}
.social-icons i{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
}
.footer-bottom{
    text-align: center;
    padding-top: 20px;
}
.footer-bottom p{
    font-size: 14px;
}

 /*footer responsiveness*/
@media (max-width: 900px){
.footer-row{
    flex-direction: column;
}
.footer-column{
    flex: 1 1 100%;
    margin-bottom: 30px;
}
}
